*{
    margin:0px;
    padding:0px;
}
span,input{
    margin: 0px;
    padding: 0px;
}
html,body{
    width:100%;
    height: 100%;
    /*background: url('../images/share/bg.png') no-repeat;*/
    background-size: cover;
    overflow: hidden;
}
.error{
    border:1px solid red!important;
}

.errorlist li{
    margin-top: 10px;
    color: red;
    font-size: 16px;
    display: block;
    text-indent: 20px;
    list-style: none;
}
#next{
    z-index: 999;
    background: url("../images/nexticon.png");
    width: 51px;
    height: 35px;
    position: fixed;
    bottom:90px;
    left: 294.5px;
    /*动画*/
    animation: nextAni .8s infinite alternate;
    -webkit-animation: nextAni .8s infinite alternate;
}
@keyframes nextAni {
    from{bottom: 90px;opacity: 0;}
    to{bottom: 140px;opacity: 1;}
}
@-webkit-keyframes nextAni {
    from{bottom: 90px;opacity: 0;}
    to{bottom: 140px;opacity: 1;}
}



/*分享*/
.shareop{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../images/shareop.png") no-repeat;
    background-size: cover;
    display: none;
    z-index: 999;
}

#page_inv_1,
#page_inv_2,
#page_inv_3{
    position: relative;
    width: 640px;
    height: 100%;
    overflow: hidden;
}
.scalaCon{
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
    transform-origin: top;
    -moz-transform-origin:top ;
    -ms-transform-origin: top;
    -webkit-transform-origin: top;
    -o-transform-origin: top;
}
#page_inv_1{
    background: url("../../../images/share/bg.png");
    background-size: 100% 100%;
}
#page_inv_2{
    background: url("../../../images/share/bg2.png");
    background-size: 100% 100%;
}
#page_inv_3{
    background: url("../../../images/share/bg2.png");
    background-size: 100% 100%;
}


.logo{
    position: absolute;
    background: url("../../../images/share/logo.png") no-repeat;
    width: 229px;
    height: 82px;
    margin-top:30px;
    margin-left: 20px;
}
#page_inv_2 #form{
    position: relative;
    background: url("../images/formbg.png") no-repeat;
    background-size: 100% 100%;
    width: 563px;
    height: auto;
    top: 150px;
    left: 38px;
}
#page_inv_2 .input{
    display: block;
    background: none;
    border: none;
    height: 39px;
    width: 375px;
    background:none;
    margin-bottom: 5px;
    margin-left: 157px;
    /*font*/
    color: #888888;
    font-size: 23px;
    line-height: 39px;
}
#page_inv_2 #m_area{
    height: auto!important;
    margin-bottom: 15px;
}
#page_inv_2 #m_info{
    position: relative;
    padding-top: 25px;
    padding-bottom: 15px;
}
#page_inv_2 .edited{
    color: black;
}
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
#page_inv_2 .f_txt,
#page_inv_2 form{
    position: absolute;
    width: 145px;
    height: 160px;
    /*background:red;*/
    color: black;
    margin-top: 25px;
}
#page_inv_2 .f_txt{
    margin-left: 25px;
}
#page_inv_2 .f_txt li{
    display: block;
    width: 100%;
    height: 39px;
    margin-bottom: 5px;
    /*font*/
    text-indent: 25px;
    font-size: 23px;
    line-height: 39px;
    /**/
    background: url("../images/libg.png") no-repeat;
    background-position: 6px 10px;
}
#page_inv_2 form{
    width: 400px;
    margin-left: 155px;
}
#page_inv_2 form #m_area{
    height: 78px;
    text-indent: 0px;
    width: 365px;
}
#page_inv_2 #mt_info_t{
    position: relative;
    background: url("../images/mt_info_t.png") no-repeat;
    background-size: 100% 100%;
    width: 548.5px;
    height:46px ;
    margin: 0 auto;
    top: 160px;
    left: 0px;
    border-radius: 8px;
}
#page_inv_2 #mt_info{
    position: relative;
    background: url("../images/mt_info.png");
    background-size: 100% 100%;
    width: 560px;
    height: 490px;
    top: 170px;
    left: 42px;
}


/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
#page_inv_3 #sign{
    background-color:rgba(104,200,242,0.7);
    border-radius: 15px;
    background-size:cover;
    width: 513px;
    /*min-height: 636px;*/
    height: auto;
    position: absolute;
    left: 68.5px;
    top:100px;
}
#page_inv_3 #sign #sign_t{
    background: url("../../../images/sign/sign_t.png") no-repeat;
    background-size: 100% 100%;
    width: 514px;
    height: 82px;
    position: relative;
    margin-bottom: 50px;
}
#page_inv_3 form{
    position: relative;
    width: 437px;
    height: auto;
    margin-top: 0px;
    margin-left: 36px;
}
#page_inv_3 .input{
    width: 377px;
    height: 50px;
    margin-top:20px;
    margin-left: 60px;
    border-radius: 0px 5px 5px 0px;
    text-indent: 10px;
    white-space: nowrap;
    overflow-x: scroll;
    color:#898988;
    font-size: 23px;
    line-height: 50px;
    background: white;
    -webkit-appearance:none;
    border: 1px solid #898988;
    border-left: 0px;
    /*font*/
    font-size: 21px;
    line-height: 47px;
    text-indent: 10px;
    white-space: nowrap;
    overflow-x: scroll;
}
#page_inv_3 form #name,
#page_inv_3 form #company,
#page_inv_3 form #email,
#page_inv_3 form #tel{
    display: block;
    display: block;
    margin-top: -52px;
    background-size: cover;
    width: 55px;
    height: 50px;
    margin-left: 5px;
    border: 1px solid #898988;
    border-right: 0px!important;
    border-radius: 5px 0px 0px 5px;
}
#page_inv_3 form #name{
    background: url("../../../images/join/join_user.png");
}
#page_inv_3 form #company{
    background: url("../../../images/join/join_comp.png");
}
#page_inv_3 form #email{
    background: url("../../../images/join/join_email.png");
}
#page_inv_3 form #tel{
    background: url("../../../images/join/join_tel.png");
}

#page_inv_3 form .submit{
    position: relative;
    border: none;
    background: none;
    display: block;
    background: url("../../../images/sign/submit.png");
    background-size: 100% 100%;
    width: 146px;
    height: 56px;
    margin-left: 145.5px;
    margin-bottom: 80px;
}
#page_inv_3 form .resubmit{
    position: relative;
    border: none;
    background: none;
    display: block;
    background: url("../../../images/sign/resubmit.png");
    background-size: 100% 100%;
    width: 155px;
    height: 63.5px;
    margin-left: 145.5px;
    margin-bottom: 80px;
}
#page_inv_3 #info{
    position: relative;
    display: block;
    width: 437px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 27px;
    color:white;
}


#page_inv_3 .close{
    display: block;
    position: absolute;
    background: url("../images/close.png") no-repeat;
    width: 90px;
    height: 91px;
    margin: 0px auto;
}

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/*!
 * fullPage 2.8.2
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {
    margin: 0;
    padding: 0;
    overflow:hidden;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#superContainer {
    height: 100%;
    position: relative;

    /* Touch detection for Windows 8 */
    -ms-touch-action: none;

    /* IE 11 on Windows Phone 8.1*/
    touch-action: none;
}
.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}
.fp-slide {
    float: left;
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
    z-index:1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout:fixed;
    width: 100%;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    height: 100%;
}
.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
}
.fp-scrollable {
    overflow: hidden;
    position: relative;
}
.fp-scroller{
    overflow: hidden;
}
.iScrollIndicator{
    border: 0 !important;
}
.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
}
#fp-nav.right {
    right: 17px;
}
#fp-nav.left {
    left: 17px;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
}
.fp-slidesNav.bottom {
    bottom: 17px;
}
.fp-slidesNav.top {
    top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
    margin: 0;
    padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}
#fp-nav ul li .fp-tooltip.right {
    right: 20px;
}
#fp-nav ul li .fp-tooltip.left {
    left: 20px;
}
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
    height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
    height: auto !important;
}